In [111]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [112]:
df = pd.read_csv("Dataset.csv", header=None)
df.head()

        0   1  2
0  202001   7  2
1  202001   7  2
2  202001   6  2
3  202002   2  1
4  202002  16  2

In [113]:
df.columns = ["NIP", "Lama-Proses", "Kategori"]
df.head()

      NIP  Lama-Proses  Kategori
0  202001            7         2
1  202001            7         2
2  202001            6         2
3  202002            2         1
4  202002           16         2

In [114]:
df = df.drop(["NIP"],1)
df.head()

   Lama-Proses  Kategori
0            7         2
1            7         2
2            6         2
3            2         1
4           16         2

In [115]:
Y = df["Kategori"]
X = df[["Lama-Proses"]]

In [116]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [117]:
print("accuracy_score: %.2f"
      % clf.score(X_test, Y_test))

accuracy_score: 0.83

In [118]:
uji_coba = np.array([10])
print(uji_coba)

[10]

In [119]:
uji_coba = uji_coba.reshape(1,-1)

In [120]:
predict = clf.predict(uji_coba)

In [121]:
predict

array([2], dtype=int64)